.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
  }
}

.about-subtitle {
  @include media(desktop) {
  }
}

.about-img {
  box-shadow: 0 0 1px 2px #a8b0bf;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;

  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Reddit Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #f3f0e8;

  @include media(desktop) {
  }
}

.about-br {
  display: none;

  @include media(desktop) {
    display: block;
  }
}
