.experience-section {
  @include media(desktop) {
  }
}

.experience-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.experience-container {
  @include media(desktop) {
  }
}

.experience-content-wrapper {
  @include media(desktop) {
  }
}

.experience-subtitle {
  margin-bottom: 64px;

  @include media(desktop) {
  }
}

.experience-text {
  font-family: 'Reddit Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #f3f0e8;
  margin-bottom: 48px;

  @include media(desktop) {
  }
}

.experience-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}

.experience-slide {
  box-shadow: inset 0 0 14px 1px rgba(42, 44, 54, 0.5);
  background: #313640;
  border: 1px solid #a8b0bf;
  border-radius: 4px;
  padding: 23px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 283px;

  @include media(desktop) {
    padding: 23px 47px;
    max-width: 233px;
  }
}

.experience-img {
  @include media(desktop) {
  }
}

.experience-item-text {
  font-family: 'Reddit Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #f3f0e8;

  @include media(desktop) {
  }
}
