.experience-section {
  background: #edddcb;

  @include media(desktop) {
  }
}

.experience-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.experience-container {
  padding: 0;

  @include media(desktop) {
  }
}

.experience-content-wrapper {
  padding: 0 16px;

  @include media(desktop) {
    padding: 0 120px;
  }
}

.experience-subtitle {
  @include media(desktop) {
  }
}

.experience-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2d4053;
  margin-bottom: 48px;

  @include media(desktop) {
    margin-bottom: 64px;
  }
}

.experience-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
}

.experience-slide {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 263px;

  @include media(desktop) {
    gap: 32px;
  }
}

.experience-icon {
  min-width: 48px;

  @include media(desktop) {
  }
}

.experience-item-text {
  padding-top: 16px;
  border-top: 1px solid #ff7f6a;
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2d4053;
  width: 100%;

  @include media(desktop) {
    padding-top: 31px;
  }
}

.experience-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;

  @include media(desktop) {
  }
}
