.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  @include media(desktop) {
  }
}

.features-subtitle {
  @include media(desktop) {
  }
}

.features-secondary-subtitle {
  @include media(desktop) {
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.features-slide {
  padding: 0 12px;
  display: flex;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 230px;
  }
}

.features-img {
  min-width: 120px;

  @include media(desktop) {
  }
}

.features-item-text-wrapper {
  width: 100%;

  @include media(desktop) {
  }
}

.features-item-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #4b5b4a;
  font-family: 'Reddit Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #f3f0e8;
  margin-bottom: 16px;

  @include media(desktop) {
    text-align: center;
  }
}

.features-item-text {
  font-family: 'Reddit Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  color: #a8b0bf;

  @include media(desktop) {
    text-align: center;
  }
}
