.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gameplay-container {
}

.gameplay-subtitle {
  margin-bottom: 64px;

  @include media(desktop) {
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
}

.gameplay-slide {
  width: 100%;
  max-width: 333px;

  @include media(desktop) {
    &:nth-child(4) {
      max-width: 520px;
    }

    &:nth-child(5) {
      max-width: 520px;
    }
  }
}

.gameplay-img {
  box-shadow: 0 0 1px 1px #a8b0bf;
  border-radius: 4px;

  @include media(desktop) {
  }
}
