.hero-section {
  background: linear-gradient(270deg, #437cc0 0%, #6d97c9 100%);

  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 66px;
  padding-bottom: 500px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 146px;
    padding-bottom: 524px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-text-wrapper {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #313640;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 48px;
  }
}

.hero-subtitle {
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #14181f;

  @include media(desktop) {
    font-size: 24px;
  }
}

.hero-br {
  @include media(desktop) {
    display: none;
  }
}
