<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <img
        class="title-img"
        src="./img/about/title-img.png"
        alt="Screenshot of the game"
        width="32"
        height="32"
      />
      <h2 class="section-title about-title">About the Game</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <p class="section-subtitle about-subtitle">Think sandbox game</p>
        <p class="section-secondary-subtitle about-secondary-subtitle">
          but it actually gives you some idea of what to do next
        </p>
        <picture>
          <source
            srcset="./img/about/about-bg-desk.png"
            media="(min-width: 1440px)"
            width="1200"
            height="453" />
          <source
            srcset="./img/about/about-bg-mob.png"
            width="343"
            height="224" />
          <img
            class="about-img"
            src="./img/about/about-bg-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="224"
            loading="lazy"
        /></picture>
        <p class="about-text">
          You can go wherever you want in Pixel Forge, but it'll still nudge you
          toward learning new crafting recipes.<br />
          Starting with basic tools, players unlock more advanced structures,
          items, and areas.<br />
          Seriously, everything counts - that random tree you chopped down?
          You'll probably use it for something awesome later.
        </p>
      </div>
    </div>
  </div>
</section>
