<section class="section contact-section" id="contact">
  <div class="contact-section-wrapper">
    <div class="section-title-wrapper contact-title-wrapper">
      <div class="container section-title-container">
        <img
          class="title-img"
          src="./img/about/title-img.png"
          alt="Screenshot of the game"
          width="32"
          height="32"
        />
        <h2 class="section-title progression-title">Contact</h2>
      </div>
    </div>
    <div class="contact-bg-wrapper">
      <div class="container contact-container">
        <div class="contact-content-wrapper">
          <p class="section-subtitle contact-subtitle">Stay connected</p>
          <a href="mailto:info@outerbank.pro" class="contact-email-link">
            <svg class="email-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-email"></use></svg
            ><span>info@outerbank.pro</span></a
          >
        </div>
        <picture>
          <source
            srcset="./img/contact/contact-bg-desk.jpg"
            media="(min-width: 1440px)"
            width="1440"
            height="480" />
          <source
            srcset="./img/contact/contact-bg-mob.jpg"
            width="375"
            height="307" />
          <img
            class="contact-img"
            src="./img/contact/contact-bg-mob.jpg"
            alt="Screenshot of the game"
            width="375"
            height="307"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
