<section class="section experience-section" id="experience">
  <div class="section-title-wrapper experience-title-wrapper">
    <div class="container section-title-container">
      <img
        class="title-img"
        src="./img/about/title-img.png"
        alt="Screenshot of the game"
        width="32"
        height="32"
      />
      <h2 class="section-title progression-title">Gameplay Loop</h2>
    </div>
  </div>
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <div class="experience-content-wrapper">
        <p class="section-subtitle experience-subtitle">
          Why players keep going
        </p>
        <p class="experience-text">
          You've got goals to work toward, but you can still build whatever
          weird castle you want.<br />
          You can actually see yourself getting better at stuff.
        </p>
        <ul class="experience-list">
          <li class="experience-slide">
            <img
              class="experience-img"
              src="./img/experience/experience-img1.png"
              alt="Screenshot of the game"
              width="130"
              height="143"
            />
            <p class="experience-item-text">Constant unlocking of new items</p>
          </li>
          <li class="experience-slide">
            <img
              class="experience-img"
              src="./img/experience/experience-img2.png"
              alt="Screenshot of the game"
              width="130"
              height="143"
            />
            <p class="experience-item-text">Freedom to build and explore</p>
          </li>
          <li class="experience-slide">
            <img
              class="experience-img"
              src="./img/experience/experience-img3.png"
              alt="Screenshot of the game"
              width="130"
              height="143"
            />
            <p class="experience-item-text">Satisfying upgrade system</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
