<section class="section features-section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <div class="container section-title-container">
      <img
        class="title-img"
        src="./img/about/title-img.png"
        alt="Screenshot of the game"
        width="32"
        height="32"
      />
      <h2 class="section-title about-title">Core Systems</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <p class="section-subtitle features-subtitle">Easy to pick up</p>
        <p class="section-secondary-subtitle features-secondary-subtitle">
          but there's always something new to unlock
        </p>
        <ul class="features-list">
          <li class="features-slide">
            <img
              class="features-img"
              src="./img/features/features-img1.png"
              alt="Screenshot of the game"
              width="120"
              height="91"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Resource Gathering</p>
              <p class="features-item-text">
                You're basically always picking up stuff.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <img
              class="features-img"
              src="./img/features/features-img2.png"
              alt="Screenshot of the game"
              width="120"
              height="91"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Crafting Tree</p>
              <p class="features-item-text">Unlock new recipes step by step.</p>
            </div>
          </li>
          <li class="features-slide">
            <img
              class="features-img"
              src="./img/features/features-img3.png"
              alt="Screenshot of the game"
              width="120"
              height="91"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Building System</p>
              <p class="features-item-text">Place and upgrade structures.</p>
            </div>
          </li>
          <li class="features-slide">
            <img
              class="features-img"
              src="./img/features/features-img4.png"
              alt="Screenshot of the game"
              width="120"
              height="91"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Exploration Layer</p>
              <p class="features-item-text">
                New zones introduce new materials.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
