<section class="section features-section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <div class="container section-title-container">
      <picture>
        <source
          srcset="./img/about/left-line-desk.png"
          media="(min-width: 1440px)"
          width="572"
          height="6" />
        <source srcset="./img/about/left-line-mob.png" width="144" height="6" />
        <img
          class="line-img"
          src="./img/about/left-line-mob.png"
          alt="Line"
          width="144"
          height="6"
      /></picture>
      <h2 class="section-title about-title">Game Features</h2>
      <picture>
        <source
          srcset="./img/about/right-line-desk.png"
          media="(min-width: 1440px)"
          width="572"
          height="6" />
        <source
          srcset="./img/about/right-line-mob.png"
          width="144"
          height="6" />
        <img
          class="line-img"
          src="./img/about/right-line-mob.png"
          alt="Line"
          width="144"
          height="6"
      /></picture>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <p class="section-subtitle features-subtitle">
          We designed it to just feel good to play
        </p>
        <ul class="features-list">
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features1"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Bright Visual Style</p>
              <p class="features-item-text">
                Sunny colors and tropical atmosphere.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features2"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Match Puzzle Play</p>
              <p class="features-item-text">
                Easy to learn, but those combo chains? *Chef's kiss*.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features3"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Resort Restoration</p>
              <p class="features-item-text">
                Rebuild and upgrade locations, decorate resort.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features4"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Varied Levels</p>
              <p class="features-item-text">
                Different layouts and new daily challenges.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features5"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Relaxed Pace</p>
              <p class="features-item-text">
                No stress, no timers - just play when you feel like it.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
