<section class="gameplay-section section" id="gameplay">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <img
        class="title-img"
        src="./img/about/title-img.png"
        alt="Screenshot of the game"
        width="32"
        height="32"
      />
      <h2 class="section-title about-title">How To Play</h2>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <p class="section-subtitle gameplay-subtitle">Gather, craft, survive</p>
      <ul class="gameplay-list">
        <li class="gameplay-slide">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img1-desk.png"
              media="(min-width: 1440px)"
              width="333"
              height="338" />
            <source
              srcset="./img/gameplay/gameplay-img1-mob.png"
              width="333"
              height="338" />
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img1-mob.png"
              alt="Screenshot of the game"
              width="333"
              height="338"
              loading="lazy"
          /></picture>
        </li>
        <li class="gameplay-slide">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img2-desk.png"
              media="(min-width: 1440px)"
              width="333"
              height="338" />
            <source
              srcset="./img/gameplay/gameplay-img2-mob.png"
              width="333"
              height="338" />
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img2-mob.png"
              alt="Screenshot of the game"
              width="333"
              height="338"
              loading="lazy"
          /></picture>
        </li>
        <li class="gameplay-slide">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img3-desk.png"
              media="(min-width: 1440px)"
              width="333"
              height="338" />
            <source
              srcset="./img/gameplay/gameplay-img3-mob.png"
              width="333"
              height="338" />
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img3-mob.png"
              alt="Screenshot of the game"
              width="333"
              height="338"
              loading="lazy"
          /></picture>
        </li>
        <li class="gameplay-slide">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img4-desk.png"
              media="(min-width: 1440px)"
              width="520"
              height="338" />
            <source
              srcset="./img/gameplay/gameplay-img4-mob.png"
              width="333"
              height="338" />
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img4-mob.png"
              alt="Screenshot of the game"
              width="333"
              height="338"
              loading="lazy"
          /></picture>
        </li>
        <li class="gameplay-slide">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img5-desk.png"
              media="(min-width: 1440px)"
              width="520"
              height="338" />
            <source
              srcset="./img/gameplay/gameplay-img5-mob.png"
              width="333"
              height="338" />
            <img
              class="gameplay-item-img"
              src="./img/gameplay/gameplay-img5-mob.png"
              alt="Screenshot of the game"
              width="333"
              height="338"
              loading="lazy"
          /></picture>
        </li>
      </ul>
    </div>
  </div>
</section>
