<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <p class="hero-text">
            Your island. Your vibe.<br />
            Every level brings the beach back to life.
          </p>
          <h1 class="hero-main-title">Match Bright.</h1>
          <p class="hero-subtitle">Build Paradise.</p>
        </div>
      </div>
    </div>
  </div>
</section>
