<section class="policy-section">
  <div class="container policy-container">
    <h1>Privacy Policy</h1>
    <p>
      <span class="name">Sunbay Shuffle</span> does not collect or send any
      player data to any servers other than Apple’s for Game Center and iCloud.
      We do not collect any player data using third party servers or
      intermediaries of any kind.
    </p>

    <p>
      <span class="name">Sunbay Shuffle</span> collects data and stores it on
      Apple services such as iCloud and Game Center. We use iCloud to save your
      game, and Game Center to keep track of achievements and leaderboards. We
      do not store personal or gameplay data on our servers.
    </p>

    <p>
      <span class="name">Sunbay Shuffle</span> collects, uses, and discloses
      data from kids in the same way as for other users, as described in this
      policy. Where Cards Fall’s use of kids’ data is limited to support
      internal operations of the game. Parents can request deletion of data by
      contacting us at
      <a href="mailto:support@northlane.space"
        ><span class="domain">support@northlane.space</span></a
      >.
    </p>

    <p>
      If you have any questions or suggestions about our Privacy Policy, do not
      hesitate to contact us at
      <a href="mailto:info@northlane.space"
        ><span class="domain">info@northlane.space</span></a
      >.
    </p>
  </div>
</section>
