<section class="section progression-section" id="progression">
  <div class="section-title-wrapper progression-title-wrapper">
    <div class="container section-title-container">
      <img
        class="title-img"
        src="./img/about/title-img.png"
        alt="Screenshot of the game"
        width="32"
        height="32"
      />
      <h2 class="section-title progression-title">Visual Style</h2>
    </div>
  </div>
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <div class="progression-content-wrapper">
        <p class="section-subtitle progression-subtitle">Classic pixel art</p>
        <p class="section-secondary-subtitle progression-secondary-subtitle">
          that's easy on the eyes but still has personality
        </p>
        <picture>
          <source
            srcset="./img/progression/progression-bg-desk.png"
            media="(min-width: 1440px)"
            width="1200"
            height="520" />
          <source
            srcset="./img/progression/progression-bg-mob.png"
            width="343"
            height="277" />
          <img
            class="progression-img"
            src="./img/progression/progression-bg-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="277"
            loading="lazy"
        /></picture>
        <p class="progression-text">
          We went with pixel art that pops off the screen - nothing too fancy
          with the animations, but it looks good.<br />
          You can actually tell what everything is, and it's got that old-school
          vibe that hits right in the feels.
        </p>
      </div>
    </div>
  </div>
</section>
